# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# According to pipenv documentation, it should be committed:
# https://pipenv.pypa.io/en/latest/advanced/#automatic-script-creation
# But in practice, it's often not committed. backup files should be ignored.
Pipfile
Pipfile.lock

# virtualenv
.venv/
venv/
ENV/
sw_env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Huey worker settings
huey.db

# dotenv
.env

# Editor temp / backup files
*~
*.swp
*.bak
*.tmp

# pycharm
.idea/

# Visual Studio Code
.vscode/

# Envirement file
.env

outputs/
templates/
TODO